

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #8e2121;
     
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #337ab7;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  /* Header Styles */
  
  header {
    background-color: #337ab7;
    padding: 20px;
    text-align: center;
    color: #e8dfdf;
  }
  
  header nav ul {
    display: flex;
    justify-content: space-between;
  }
  
  header nav li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #eee4e4;
    
  }
  
  /* Main Styles */
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Services Styles */
  
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service {
    width: 30%;
    margin: 20px;
    background-color: #e4d7d7;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .service h2 {
    margin-top: 0;
  }
  
  /* Contact Styles */
  
  .contact {
    background-color: #337ab7;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .contact label {
    margin-bottom: 10px;
  }
  
  .contact input, .contact textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
  }
  
  .contact input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact input[type="submit"]:hover {
    background-color: #23527c;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #337ab7;
    padding: 10px;
    text-align: center;
    color: #fff;
  }
     

